.inputContainer {
  width: 100%;
  margin-bottom: 24px;
}

.inputContainer label {
  color: #fff;
}
.inputContainer input {
  width: 100%;
  background: #20202F;
  border: 1px solid #9664FA;
  border-radius: 12px;
  padding: 10px 0px 10px 16px;
  color: #FFF;
  margin: 4px 0 0 0;
  display: block;
  max-width: 600px;
}
.inputContainer input:read-only {
  cursor: pointer;
}
.inputContainer input::placeholder,
.inputContainer input:placeholder {
  color: #666;
}

.note {
  color: #888;
  font-size: 12px;
  margin-top: 6px;
  line-height: 14px;
  bottom: 0;
}
.note,
.error {
  display: block;
  padding-left: 6px;
}
.error {
  height: 14px;
  line-height: 14px;
  color: #FF4D4F;
  font-size: 12px;
  margin-top: 2px;
}
