.button {
  border-radius: 10px;
  padding: 12px 50px;
  border: 1px solid #FFF;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primaryButton {
  background: #9664FA;
  border-color: #9664FA;
  color: #FFF;
}

.secondaryButton {
  background: #272738;
  border-color: #272738;
  color: #FFF;
}

.dangerButton {
  background: #ff3333;
  border-color: #272738;
  color: #FFF;
}

.button > svg:first-child {
  margin-right: 8px;
}

.button > svg:last-child {
  margin-left: 8px;
}
