.section {
  padding: 24px;
  border-radius: 25px;
  background: #20202F;
  border: 1px solid #2A3042;
}
.topActions {
  display: block;
  text-align: right;
  margin-bottom: 32px;
}
.topActions > a {
  margin-left: 18px;
}
.section + .section {
  margin-top: 48px;
}
.section > h1 {
  font-weight: 600;
  font-size: 34px;
  margin-top: 0;
  color: #FFF;
}
.section > h2 {
  color: #c9d3ee;
  font-weight: 400;
  font-size: 16px;
}

h1 + .content,
h2 + .content {
  margin-top: 64px;
}
.content {
  padding: 0;
  margin: 0;
}
.subSection {
  margin-bottom: 64px;
}
@media only screen and (max-width: 800px) {
  .topActions > a {
    display: block;
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 460px) {
  .section  {
    padding: 24px 12px;
  }
}
