.container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
}
.channelCard {
  background: #272738;
  padding: 24px;
  border: 1px solid #2A3042;
  display: inline-block;
  border-radius: 16px;
  text-decoration: none;
  transition: border 0.3s ease;
}
.channelCard:hover {
  border: 1px solid #9664FA;
}
.channelCard .imageContainer {
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.channelCard h4 {
  color: #FFF;
  font-size: 24px;
  text-decoration: none;
  margin: 8px 0;
}
.channelCard .stats {
  color: #666;
  font-size: 14px;
}
.channelCard .stats + .stats {
  margin-top: 4px;
}
.channelCard h3 {
  color: #FFF;
  font-size: 18px;
  margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
  }
}

@media only screen and (max-width: 750px) {
  .container {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
  }
}
