.fcAppWrapper {
  background-image: url('/assets/fc-app/background_1.png');
  background-color: #FFF;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fcAppFooter {
  position: absolute;
  bottom: 16px;
  text-align: center;
  left: 0;
  right: 0;
  text-decoration: none;
  color: #333;
}
