.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.question {
  flex-basis: 100%;
  width: 100%;
  background: #131722;
  border-radius: 12px;
  padding: 24px;
  color: #FFF;
  margin-bottom: 24px;
}
.question details summary {
  cursor: pointer;
  margin-bottom: 24px;
}
.columns {
  display: flex;
}
.indexNumber {
  font-size: 14px;
  color: #999;
  margin-bottom: 24px;
}
.questionInput {
  flex-basis: 100%;
}
.questionInput, .answers,.categories {
  margin-bottom: 18px;
}
.inputGroup {
  flex-basis: 50%;
}
.inputGroup > button {
  margin: 24px 0;
  display: block;
}
.inputRow {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin-bottom: 24px;
}
.inputRow > div {
  margin-bottom: 0;
}
.inputRow button {
  background: none;
  border: none;
  cursor: pointer;
}
.actions {
  flex-basis: 100%;
  text-align: right;
}
.actions > button {
  margin-left: 18px;
}

@media only screen and (max-width: 950px) {
  .inputGroup {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .actions > button {
    margin: 12px 0;
    display: block;
    width: 100%;
  }
}
