.avatar {
  background-size: cover;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.name {
  font-weight: bold;
  font-size: 18px;
}
.type {
  color: #A0AAB9;
}
.reasons ul {
  margin: 0;
  padding: 0;
}
.reasons li {
  list-style: none;
  font-size: 14px;
}

.suggestionsTable {
  width: 100%;
  border-collapse: collapse;
}
.suggestionsTable thead th {
  color: #515B71;
  text-align: left;
  font-size: 14px;
}
.suggestionsTable td {
  color: #FFF;
  padding-right: 12px;
  padding-bottom: 24px;
}
.suggestionsTable td:last-child {
  padding-right: 0;
}
.suggestionsTable td:first-child,
.suggestionsTable th:first-child {
  width: 100px;
}

@media only screen and (max-width: 1000px) {
  .suggestionsTable thead {
    display: none;
  }

  .suggestionsTable td {
    display: block;
    padding-bottom: 12px;
  }
  .suggestionsTable td:last-child {
    padding-bottom: 50px;
    border-bottom: 1px solid #515B71;
    margin-bottom: 50px;
  }
  .suggestionsTable tr:last-child td:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}
