.statsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}
.statsCard {
  display: inline-block;
  flex-basis: calc(33.3333% - 16px);
  padding: 24px;
  background: #272738;
  border: 1px solid #2A3042;
  border-radius: 16px;
  color: #FFF;
}

.statsCard h6 {
  margin: 0;
  font-size: 20px;
}

.statsCard h3 {
  margin: 0;
  font-size: 64px;
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .statsCard {
    flex-basis: calc(50% - 16px);
  }
}

@media only screen and (max-width: 700px) {
  .statsContainer {
    flex-direction: column;
  }
  .statsCard {
    flex-basis: 100%;
  }
}
