/* https://github.com/necolas/normalize.css */
@import 'normalize.css';

* {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  box-sizing: border-box;
}

body {
  background-image: url('/app-bg.png');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #000;
  background-attachment: fixed;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #2A3042 !important;
  margin-bottom: 32px !important;
}

.react-tabs__tab {
  color: #FFF !important;
  border: none !important;
  padding: 24px !important;
}

.react-tabs__tab--selected {
  background: #9664FA !important;
  font-weight: 500 !important;
}
