.appLayout {
  padding: 24px;
}

.header {
  border-radius: 25px;
  border: 1px solid #2A3042;
  height: 70px;
  padding: 24px;
  display: flex;
  align-items: center;
  background: #20202F;
  margin-bottom: 24px;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.headerLeft nav {
  margin-left: 24px;
  display: flex;
}
.headerLeft nav a {
  padding: 12px;
  font-size: 14px;
  background: #2A3042FF;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-right: 16px;
  color: #FFF;
  text-decoration: none;
}
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2A304200;
  margin-right: 10px;
  transition: background 0.3s;
}
.selected {
  background: #8558E3 !important;
}

.avatar {
  background: none;
  border: none;
  height: 34px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.avatar img {
  border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
  .icon {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .header > button,
  .headerLeft nav {
    display: none;
  }
}
@media only screen and (max-width: 460px) {
  .appLayout {
    padding: 12px;
  }
}
