.userStatsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 32px;
}
.userStatsTable thead th {
  text-align: left;
  color: grey;
}
.userStatsTable tbody tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.05);
}
.userStatsTable tbody tr td {
  padding: 8px 0;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.enableClaimsButton {
  background: #9664FA;
  border-color: #9664FA;
  color: #FFF;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
